<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    {{> header}}

    <main class="main home">
      <div class="container">
        <figure class="home-avatar">
        </figure>

        <h1 class="home-title">
          Hello there, my name is Ben Varghese.
        </h1>

        <p class="home-introduction">
          I’m a <strong>Medical Student</strong> spending my time growing roses.
          <br>
          Our aim is to shape the <strong>future of London green spaces</strong> at <a href="http://www.codeatuni.com/">Code at Uni</a>.
        </p>
      </div>
    </main>

    {{> footer}}
  </body>
</html>